:root {
  /* *COLOR* */
  --primary-clr-100: #00732c;
  --primary-clr-200: #008030;
  --primary-clr: #009f4d;
  --secondary-clr: #213364;
  --teritary-clr: #3f3a64;
  --cinder-500: #100f19;
  --cinder-400: #151421;
  --tundora: #404040;
  --dove-gray: #666;
  --gray: #7e7d7d;
  --gray-chateau: #97a1a9;
  --dusty-gray: #999;
  --gallery: #eee;
  --athens-gray: #f8f9fa;
  --white: #fff;
  --title-clr: var(--teritary-clr);
  --subtitle-clr: var(--gray);
  --text-clr: var(--dove-gray);
  --form-text-clr: var(--gallery);
  --footer-text-clr: var(--gray-chateau);
  --overlay: rgba(29, 42, 55, 0.7);

  --progress-bar-clr-1: linear-gradient(-224deg, #0d8abc, #61fded);
  --progress-bar-clr-2: linear-gradient(-224deg, #d45529, #eece90);
  --progress-bar-clr-3: linear-gradient(-224deg, #f646a9, #5c51ff);
  --progress-bar-clr-4: linear-gradient(-224deg, #e77654, #e5529a);

  /* *OTHER* */
  --border-radius: 8px;
}

/* *==========ABOUT US==========* */

.about {
  margin: 80px 0;
}

.about_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about ul {
  list-style: none;
}

.About__right {
  position: relative;
}

#about .title-small {
  color: var(--gray);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  letter-spacing: 1px;
  line-height: 30px;
  display: block;
}

#about .title-big {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
  color: var(--secondary-clr);
  text-align: left;
}

#about .about_content p {
  font-size: 17px;
  line-height: 27px;
  color: #404040;
  opacity: 0.8;
}

#about .fa {
  display: inline-block;
  color: var(--primary-clr);
  margin-right: 5px;
}

#about a {
  color: var(--secondary-clr);
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 550;
}

#about .service-list li {
  margin: 10px 0;
}

#about .img-fluid {
  border-radius: 10px;
}

#about .about_content .service-list li:last-child {
  margin-bottom: 0;
}
