:root {
  /* *COLOR* */
  --primary-clr-100: #00732c;
  --primary-clr-200: #008030;
  --primary-clr: #009f4d;
  --secondary-clr: #213364;
  --teritary-clr: #3f3a64;
  --cinder-500: #100f19;
  --cinder-400: #151421;
  --tundora: #404040;
  --dove-gray: #666;
  --gray: #7e7d7d;
  --gray-chateau: #97a1a9;
  --dusty-gray: #999;
  --gallery: #eee;
  --athens-gray: #f8f9fa;
  --white: #fff;
  --title-clr: var(--teritary-clr);
  --subtitle-clr: var(--gray);
  --text-clr: var(--dove-gray);
  --form-text-clr: var(--gallery);
  --footer-text-clr: var(--gray-chateau);
  --overlay: rgba(29, 42, 55, 0.7);

  --progress-bar-clr-1: linear-gradient(-224deg, #0d8abc, #61fded);
  --progress-bar-clr-2: linear-gradient(-224deg, #d45529, #eece90);
  --progress-bar-clr-3: linear-gradient(-224deg, #f646a9, #5c51ff);
  --progress-bar-clr-4: linear-gradient(-224deg, #e77654, #e5529a);

  /* *OTHER* */
  --border-radius: 8px;
}

/* *==========BANNER==========* */

#banner {
  top: 0px;
  width: 100%;
  position: relative;
}

#banner .banner-slide {
  position: relative;
  min-height: 800px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bg1 {
  display: inline-block;
  width: 100%;
  opacity: 0.9;
  background: url(../img/bg/b1.jpg) center top / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center top;
}

.bg2 {
  display: inline-block;
  width: 100%;
  opacity: 0.9;
  background: url(../img/bg/b2.jpg) center top / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center top;
}

.bg3 {
  display: inline-block;
  width: 100%;
  opacity: 0.9;
  background: url(../img/bg/b3.jpg) center top / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center top;
}

.bg4 {
  display: inline-block;
  width: 100%;
  opacity: 0.9;
  background: url(../img/bg/b4.jpg) center top / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center top;
}

.content .cta-btn {
  padding-top: 10px;
}

.content h1 {
  margin-block-end: 0.47em;
}
